package home

import "github.com/jeanscalabrin/bolao-copa/internal/shared/layout"

templ Plage() {
	@layout.App("Bolão da Copa") {
		<h1>Bolão da Copa - Clã do Júnior</h1>
		<p>Projeto em Go + Gin + Templ + Htmx</p>
	}
}
